
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}
.calculator{
 background: lightskyblue;
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%,-50%);
 width: 400px;
 
 border-radius: 15px;
}
.calculator-screen{
 width: 100%;
 display: flex;
 flex-direction: column;
 background: transparent;
 border: none;
 border-bottom: 1px solid white;
 height: 80px;
 /*
 padding-right: 20px;
 padding-left: 10px;
 */
}
.display{
 background: none;
 width: 100%;
 border: none;
 height: 30%;
 text-align: right;
 color: rgb(28, 24, 128);
 font-size: 16px;
 padding-top: 10px;
 padding-right: 20px;
 padding-left: 10px;
}
.result{
 background: none;
 width: 100%;
 border: none;
 height: 70%;
 text-align: right;
 color: rgb(28, 24, 128);
 font-size: 40px;
 padding-right: 20px;
 padding-left: 10px;
}
button{
 height: 60px;
 background-color: #f8f7f4;
 color: black;
 border: 1px solid lightseagreen;
 outline: none;
 font-size: 25px;
 transition: all .5s ease;
 cursor: pointer;
}
button:hover{
 background-color: rgb(101, 144, 187);
}
.calculator-keys{
 display:grid;
 grid-template-columns: repeat(4, 1fr);
 grid-gap: 20px;
 padding: 20px;
}
.operator{
 background: #527cbc;
}
.equal-sign{
 grid-area: 2/4/6/5;
 height: 100%;
 background: #3e3a98;
}
.all-clear{
 background: lightcoral;
}
